// .paragraph {
// background-color: blue;
// }
.paragraph--title {
	font-weight: bold;
	font-size: 15px;
}
.paragraph--justify {
	text-align: justify;
}
.paragraph--white {
	color: white;
}
.paragraph--black {
	color: #25262c;
}
.paragraph--red {
	color: #f2442f;
}
.paragraph--dark {
	color: grey;
}
.paragraph--pale {
	color: lightgray;
}
.paragraph--green {
	color: #008258;
}
.paragraph--orange {
	color: #ea7e00;
}
.paragraph--cyan {
	color: #00d0bc;
}
.paragraph--align-right {
	margin-left: auto;
}
.paragraph--align-left {
	margin-right: auto;
}
.paragraph--align-center {
	margin: auto;
}
.paragraph--extra-small-font {
	font-size: 10px;
	line-height: 25px;
}
.paragraph--small-font {
	font-size: 12px;
	line-height: 27px;
}
.paragraph--medium-font {
	font-size: 14px;
}
.paragraph--large-font {
	font-size: 15px;
}
.paragraph--extra-large-font {
	font-size: 16px;
}
.paragraph--2-extra-large-font {
	font-size: 20px;
}
.paragraph--right-text {
	text-align: right;
}
.paragraph--left-text {
	text-align: left;
}
.paragraph--center-text {
	text-align: center;
}
.paragraph--justify-text {
	text-align: justify;
}
.paragraph--zero-lineheight {
	line-height: 0;
}
.paragraph--price {
	font-size: 16px;
	color: #009777;
}
.paragraph--bold {
	font-weight: bold;
}
.paragraph--inline {
	display: flex;
	flex-wrap: nowrap;
}
.paragraph--underline {
	text-decoration: underline;
}
.paragraph--standard-black {
	color: #000;
}
