.seat-labels-list-wrapper {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.seat-labels-list-wrapper__item-wrapper {
	width: 25%;
	padding: 5px;
}
.seat-labels-list-wrapper__item-wrapper__item {
	background-color: #343434;
	border-radius: 5px;
	padding: 10px 0;
}
