//colors
$main-bg: #505052 !global;
$dark-bg: #303030 !global;
$app: #f2432e;
$black: #000000;
$white: #ffffff;
$green: green;
$red: $app;
$shadow: 0px 0px 13px -5px rgba(0, 0, 0, 0.96);
$modal-bg: rgba(0, 0, 0, 0.6);

//radius
$round-radius: 100px;
$lg-radius: 10px;
$m-radius: 7px;
$s-radius: 4px;
