.account-data-table {
	background-color: #323232;
	border-radius: 5px;
	overflow: hidden;
}
.account-data-table--accent {
	background-color: white;
}
.account-data-table__row {
}
.account-data-table__row--colored {
	background-color: #f7f7f7;
}
